{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "strict": "off",
    "prefer-const": "off",
    "no-restricted-syntax": "off",
    "comma-dangle": "off",
    "no-unused-vars": "off"
  }
}
